---
export interface Props {
  className?: string;
  maxWidth?: string;
  sectionClassName?: string;
  id?: string;
  wrapperId?: string;
}

const {
  id,
  wrapperId,
  className = "",
  maxWidth = "max-w-5xl mx-auto  ",
  sectionClassName = "bg-primary-500",
} = Astro.props;
---

<section {id} class={`${sectionClassName}   px-6 relative `}>
  <div id={wrapperId} class={`${maxWidth} ${className}`}>
    <slot />
  </div>
</section>
